// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img {
  max-width: 200px;
  max-height: 150px;
}
.active {
  color: tomato;
}
.hidden {
  display: none;
}